/* Common stylings */
* {
    transition: 0.3s all ease;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bolder;
}

.app-title {
    font-size: 30px;
    font-weight: bolder;
}

/* Register form */
.form-div {
    padding: 100px;
    padding-left: 30%;
    padding-right: 30%;
}

.form-div button[type='submit'] {
    width: 100%;
}

.form-div .input-group-text, .sub-container .input-group-text {
    width: 150px;
}

/* Input field for new tasks  */
.new-task-section, .task-section {
    padding: 40px;
}

/* Task list */
.task-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

.task-section .task-sub {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #dadada;
    min-height: 50vh;
    max-height: 50vh;
}

.task-section .task-sub .task-list {
    min-height: calc(50vh - 50px);
    max-height: calc(50vh - 50px);
    overflow-y: auto;
}

.task-section .task-sub form, 
.task-section .task-sub form .input-group {
    width: 100%;
}

.task-section .task-sub form .input-group .input-group-text,
.task-section .task-sub form .input-group button[type="submit"] {
    background-color: #dadada;
    border: none;
}

.task-section .task-sub form .input-group input[type="checkbox"] {
    /* background-color: white; */
    accent-color: #33ddff;
    transform: scale(1.2);
    border-radius: 10px;
    width: 15px;
    height: 15px;
}

.ongoing-tasks {
    max-width: 20px;
}

/* Profile page  */
.container {
    padding: 5px;
    padding-top: 20px;
}

.sub-container {
    padding-left: 20%;
    padding-right: 20%;
}

.sub-container h3 {
    padding: 5px;
    padding-top: 50px;
}

.sub-container table {
    width: 100%;
    padding: auto;
}

.sub-container table tr th {
    padding-left: 100px;
    width: 50%;
}

.sub-container .full-wdth-btn {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .sub-container table tr th {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .form-div, .sub-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .task-section {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(1, auto);
    }
}