{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block name %}
Register
{% endblock %}

{% block main %}
<div class="form-div">
    <form action="/register" method="post">
        <div class="input-group mb-3">
            <label for="name" class="input-group-text">Name</label>
            <input type="text" class="form-control" id="name" placeholder="John Doe" autocomplete="off" name="name">
        </div>
        <div class="input-group mb-3">
            <label for="username" class="input-group-text">User Name</label>
            <input type="text" class="form-control" id="username" placeholder="JohnDoe" autocomplete="off" name="username">
        </div>
        <div class="input-group mb-3">
            <label for="password" class="input-group-text">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <button class="btn btn-outline-secondary password" type="button" id="view-btn"
                onclick="viewPassword('password')">Show</button>
        </div>
        <div class="input-group mb-3">
            <label for="password" class="input-group-text">Confirm Password</label>
            <input type="password" class="form-control" id="confirm" name="confirm">
            <button class="btn btn-outline-secondary confirm" type="button" id="view-btn"
                onclick="viewPassword('confirm')">Show</button>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock %}